<!doctype html>
<html ng-app="" ng-init="myName='Habib' ; age='24' ; marks=[14 , 15 , 13] ">
    <head>
        
    </head>
    <body>
        <script src="node_modules/angular/angular.min.js"></script>
        <input type="name" ng-model="name" />
        <p>{{name}}</p>
        <br>
        {{5+9-2}}
        <br>
        <b>Name : </b>{{myName}}
        <br>
        <b>Age  :</b>{{age}}
        <br>
        <ul ng-repeat="mark in marks">
            <li>{{mark}}</li>
            
        </ul>
    </body>
</html>